<button routerLink="/" class="backtodo" mat-icon-button>
  <mat-icon class="back" matSuffix >arrow_back</mat-icon>
  </button>
<!-- <button class="avatar-list" mat-icon-button [matMenuTriggerFor]="listAvatar" aria-label="Example icon-button with a menu">
      <mat-icon>
        <div class="avatar" >
        <img [src]="avatarUrl" alt="Avatar">
        </div>
      </mat-icon>
  </button> -->


<mat-card>
    <mat-card-header>
        <span class="login-header">Change Password</span>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Old Password" [(ngModel)]="oldPassword" name="currentPassword" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="New Password" [(ngModel)]="newPassword" type="password" name="newPassword" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm New Password" [(ngModel)]="confirmPassword" type="password" name="confirmPassword" required>
                        </mat-form-field>
                    </td>
                </tr>
                <p style="color: red;" *ngIf="error" class="error">{{ error }}</p>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="changePassword()" color="accent">Change Password</button>
    </mat-card-actions>
</mat-card>