.example-spacer {
    flex: 1 1 auto;
}

.welcome span {
    font-size: 20px;
    font-weight: bold;
}

.wel-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.date {
    font-size: 16px;
    color: #1C1D22;
    opacity: 70%;
}

mat-toolbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-icon {
    color: black;
}

span {
    color: black;
}

.logout {
    background-color: black;
    border-radius: 100px;
    padding: 2px 10px;
    font-size: 14px;
    //font-weight: bold;
    border: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}

.logout:hover {
    background-color: #333;
    color: #fff;
}

.username {
    font-size: 15px;
    color: black;
    margin-left: -3px;
}

.avatar img {
    border-radius: 50%;
    //margin-right: 5px;
    margin-top: -12px;
}

.avatar:hover {
    background-color: whitesmoke;
    opacity: 0.5;
    border-radius: 100%;
}

.logo img {
    width: 100px;
    height: 40px;
    //border-radius: 50%;
}

.menu {
    width: 100px;
}

.mat-menu-content span {
    color: black;
}