<!-- <mat-toolbar style="background-color: #ECAB53; color: white;"> -->
<mat-toolbar>
    <!-- menu -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Menu" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <mat-menu class="menu" #menu="matMenu">
          <button mat-menu-item routerLink="/">List of todo</button>
          <button mat-menu-item (click)="logout()">Log Out</button>
        </mat-menu>
    </button> -->

    <!-- logo -->
    <!-- <div class="logo">
        <img [src]="logo" alt="logo">
    </div>
    <span class="example-spacer"></span> -->
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    <!-- (click)="openChangeUsernameDialog()" -->
    <!-- <div class="avatar" >
        <img [src]="avatarUrl" alt="Avatar">
      </div> -->
    <!-- avatar-list -->
    <div class="welcome">
        <span class="username">Welcome back, {{ username }} 👋</span>
    </div>
    <div class="wel-right">
        <div class="menu-item">
            <i class="material-icons-outlined">search</i>
        </div>
        <div class="menu-item">
            <i class="material-icons-outlined">notifications</i>
        </div>
        <div class="menu-item">
            <i class="material-icons-outlined">calendar_today</i>
        </div>
        <div class="date">
            {{ currentDate | date:'dd MMMM yyyy' }}
        </div>
        <div>
            <button class="avatar-list" mat-icon-button [matMenuTriggerFor]="listAvatar" aria-label="Example icon-button with a menu">
              <div class="avatar" >
                <img [src]="avatarUrl" alt="Avatar">
              </div>
            </button>
            <!-- ///////////////// -->
            <mat-menu #listAvatar="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="UserInformation">
                <mat-icon>dialpad</mat-icon>
                <span style="color:black">User Information</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span style="color:black">Disable Alerts</span>
                </button>
            </mat-menu>
            <mat-menu #UserInformation="matMenu">
                <button mat-menu-item routerLink="change-password"> <!-- disabled/delete -->
                        <mat-icon>voicemail</mat-icon>
                          <span style="color:black">Change Password</span>
                </button>
            </mat-menu>
        </div>

    </div>
    <!-- <button  class="logout" (click)="logout()">Log Out</button> -->

</mat-toolbar>